body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.outer-col-1 {
   flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}

.outer-col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

header {
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;

}

.inner-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.inner-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

footer {
    height: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: 650px;
    flex-grow: 1;
    flex-shrink: 1;
}

aside {
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 0;
}